/* 
    Created on : Oct 9, 2018, 10:40:38 AM
    Author     : Md. Abul Kalam Azad
*/
div.header_container{
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
div.logo{
    width: 30%;
    float: left;
    text-align: left;
}
div.logo a{
    display: block;
    padding: 4px 0px 0px;
}
div.logo a img{
    width: 40px;
    height: auto;
}
nav {
    width: 70%;
    float: right;
}

