/* 
    Created on : Sep 24, 2018, 10:24:34 AM
    Author     : Md. Abul Kalam Azad
*/
section.portfolio ol li,section.demo ol li{
    width: 150px;
    display: inline-block;
    margin:5px 5px;
    border-radius:4px;
    list-style-position:outside;
}
section.portfolio ol li a,section.demo ol li a{
    background:#444141;
    padding:5px;
    border-radius:4px;
    text-decoration:none;
    display:block;
}
section.portfolio ol li a img,section.demo ol li a img{
    width:100%;
}
section ol li a:hover{
    color:#ffffff;
    background:#000000;
}