/* 
    Created on : Sep 24, 2018, 10:24:34 AM
    Author     : Md. Abul Kalam Azad
*/
section ul li{text-align: left;display:inline;margin-right:10px;}
section ul li a{color:#1b1919;background:#ffffff;padding:5px;border-radius:4px;}
section ul li a:hover{color:black;text-decoration:none;}