/* 
    Created on : Sep 24, 2018, 10:24:34 AM
    Author     : Md. Abul Kalam Azad
*/
section{
    background: #ffffff;
    padding: 30px 0px;    
}
.box{
    background: #e3e3e3;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.col{
    width: 33.333333333%;
    float: left;
}

