/* 
    Created on : Sep 24, 2018, 10:24:34 AM
    Author     : Md. Abul Kalam Azad
*/
section{}
section h2, section h3{color:#5c5959;}
div.main_upper{padding:30px 0px;background: #ffffff;}
div.main_lower{padding:30px 0px;background: #e3e3e3;}
div.upper_box{width:80%;margin:0 auto;}
div.box{
    align-items:center;
    display:flex;
    margin:0 auto;
    width:80%;
    flex-direction:row;
    justify-content:space-between;
    align-content:space-around;
    flex-wrap:wrap;
}
div.colm_3{ 
    border: 1px solid #c0bbbb;
    background:#ffffff;
    border-radius:5px;
    padding:10px;
    flex-basis:30%;
}
div.colm_3:hover{ 
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.3);
}

