/* 
    Created on : Sep 24, 2018, 10:24:34 AM
    Author     : Md. Abul Kalam Azad
*/
footer{
    
}
footer .container{
    overflow: hidden;
    margin-bottom: 2px;
}
div.col{
    float: left;
    width: 25%;
}
div.copyright{
    padding: 10px 0px;
    background: #cccccc;
}
footer p{
    margin: 0;
}

