/* 
    Created on : Sep 24, 2018, 10:24:34 AM
    Author     : Md. Abul Kalam Azad
*/
footer{border-bottom:4px solid #ff6347;}
footer .container{
    overflow: hidden;
    width: 80%;
    margin: 0 auto 2px;
}
div.col{float: left;width: 25%;}
div.col h3{text-align:left;margin-left:44px;}
div.col.logo{text-align: left;}
div.col ul{margin-top: 0;list-style: none;text-align: left;}
div.col ul li a{
    text-decoration: none;
    display: block;
    padding: 2px;
    margin-bottom: 5px;
    color: #e3e3e3;
    font-size: 13px;
}
div.links ul li a i.fa, div.languages ul li a i.fa, div.socials ul li a i.fa{
    color: #ff6347;
    width: 15px;
    margin-right: 5px;
}
div.socials ul li a i.fa-skype{color: #00aff0;}
div.socials ul li a i.fa-facebook{color: #4267b2;}
div.socials ul li a i.fa-linkedin{color: #0d77b7;}
div.socials ul li a i.fa-pinterest{color: #cd2029;}
div.socials ul li a i.fa-google-plus{color: #df4b37;}
div.socials ul li a i.fa-twitter{color: #429cd6;}
div.socials ul li a i.fa-whatsapp{color: #59f775;}
div.socials ul li a i.fa-github{color: #000000;}

div.col ul li a:hover{color: #ffffff;}
footer div.footer_top{
    padding: 40px 0px;
    background: #313030;
    color: #ffffff;
}
div.copyright{padding: 20px 0px;background: rgb(0, 0, 0);}
footer p{margin: 0;color:#ffffff;font-size:15px;}

